{% set id = page.header.id %}
<div class="step" data-view="{{ id }}">
    <h2 class="step" data-view="{{ id }}">{{ page.header.title }}</h2>
    <div class="desktop-btns">
        <button type="button" data-view="{{ id }}" id="show-view-{{ id }}" class="btn show-view-btn tour-desktop-only">Show View on Map</button>
        <button type="button" data-view="{{ id }}" id="go-to-view-{{ id }}" class="go-to-view-btn btn">Jump to Map</button>
    </div>
</div>
{{ content|raw }}