{# <a class="anchor view-anchor" id="{{ view_id }}-anchor"></a> #}
{% set id = page.header.id %}
<div class="step" id="{{ id }}">
    <h2>{{ page.header.title }}</h2>
    {# TODO: Proper wording and focus management #}
    <div class="desktop-btns">
        <button type="button" data-view="{{ id }}" id="show-view-{{ id }}" class="btn show-view-btn tour-desktop-only">Show View on Map</button>
        <button type="button" data-view="{{ id }}" id="go-to-view-{{ id }}" class="go-to-view-btn btn">Jump to Map</button>
    </div>
    {{ content|raw }}
    {# Popup button list #}
    {% set popups_list = leaflet_tour.getViews()[id].getPopupButtonsList() %}
    {% if popups_list|length > 0 %}
        <ul class="list-unstyled" role="list">
            {% for button in popups_list %}
                <li>
                    {{ button|raw }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>