
{# TODO: Best way to provide alt for img and svg? #}
{% if item.icon %}
    <img class="legend-icon {{ item.class }}" src="{{ item.icon }}" alt="">
{% else %} {# Line or Plygon - use svg #}
    {% set size = 28 %}
    <svg width="{{ size }}px" height="{{ size }}px" style="margin: 5px;">
        {# {% set options = '' %} #}
        {% if item.polygon %}
            {% if item.fill.fill %}
                <rect x="0" y="0" width="{{ size }}" height="{{ size }}" fill="{{ item.fill.fillColor }}" fill-opacity="{{ item.fill.fillOpacity }}" />
            {% endif %}
            {% set offset = 3 %}
            {# {% set offset = item.border|length ? offset + 2 : offset %}
            {% set offset = item.stroke.stroke ? offset + 1 : offset %} #}
            {% set size = size - (2 * offset) %}
            {# {% if item.border|length %} #}
                <rect x="{{ offset }}" y="{{ offset }}" width="{{ size }}" height="{{ size }}" stroke="{{ item.border.color ?? item.stroke.color }}" stroke-width="{{ offset * 2 }}" fill="transparent" />
            {# {% endif %} #}
            {% if item.stroke.stroke %}
                <rect x="{{ offset }}" y="{{ offset }}" width="{{ size }}" height="{{ size }}" stroke="{{ item.stroke.color }}" stroke-width="2" fill="transparent" />
            {% endif %}
        {% else %}
            {% set offset = item.border|length ? 2 : 0 %}
            {% set size = size - (2 * offset) %}
            <rect x="{{ offset }}" y="{{ offset }}" width="{{ size }}" height="{{ size }}" {% if item.border|length %} stroke="{{ item.border.color }}" stroke-width="4" {% endif %} fill="{{ item.stroke.color }}" />
        {% endif %}
    </svg>
{% endif %}
{% if item.symbol_alt %}
    <span class="sr-only">Image: {{ item.icon_alt }}</span>
{% endif %}
<span>{{ item.text }}</span>
