
{# TODO: Best way to provide alt for img and svg? #}
{% if item.icon %}
    <img class="legend-icon" src="{{ item.icon }}" alt="">
{% elseif item.path.fillOpacity %} {# Polygon - use complex svg #}
    <svg width='16px' height='16px'>
        <rect   x='2' y='2' width='12' height='12'
            {% if item.path.stroke %}
                stroke='{{ item.path.color }}'
                stroke-width='{{ item.path.weight }}'
                stroke-opacity='{{ item.path.opacity }}'
            {% endif %}
            {% if item.path.fill %}
                fill='{{ item.path.fillColor }}'
                fill-opacity='{{ item.path.fillOpacity }}'
            {% endif %}
        />
    </svg>
{% else %} {# Line - use simple svg #}
    <svg width="14px" height="14px">
        <rect x="0" y="0" width="14" height="14" fill="{{ item.path.color }}" />
    </svg>
{% endif %}
{% if item.symbol_alt %}
    <span class="sr-only">Image: {{ item.icon_alt }}</span>
{% endif %}
<span>{{ item.text }}</span>
