{% extends 'partials/base.html.twig' %}

{% set tour = leaflet_tour.getTour(page.parent().header.id) %}

{% set tour_title = tour.getTitle() ?? 'Tour' %}
{% set title = page.title ?? (tour_title  ~ ' Popup Content') %}

{% block page_title %}
    <title>{{ title ~ " | " ~ site.title}}</title>
{% endblock %}

{% block title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    {# add link to return to tour #}
    <p><a href="{{ page.parent().url(true)|e }}">Return to {{ tour_title }}</a></p>
    {% for id,feature in tour.getFeaturePopups() %}
        <h2 id="{{ id }}">{{ feature.name }}</h2>
        <div class="popup-content">
            {% include 'partials/popup-content.html.twig' with {'feature': feature} %}
        </div>
    {% endfor %}
{% endblock %}