{% extends 'partials/base.html.twig' %}

{% set pluginConfig = config.plugins['leaflet-tour'] %}
{% set tourData = leafletTour.getTourData(page) %}

{# Add CSS #}
{% block stylesheets %}
    {% do assets.addCss('plugin://leaflet-tour/assets/qgis2web/leaflet.css') %}
    {{ parent() }}
    {% do assets.addCss('plugin://leaflet-tour/assets/tour.css') %}
{% endblock stylesheets %}

{# Add Javascript #}
{% block javascripts %}
    {{ parent() }}
    {# JS to add after page HTML #}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/js_expressions.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/leaflet.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/leaflet.rotatedMarker.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/leaflet.pattern.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/leaflet-hash.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/Autolinker.min.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/rbush.min.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/labelgun.min.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/labels.js', {group:'bottom'}) %}
    {# TODO: Download these? #}
    {% do assets.addJs('https://unpkg.com/intersection-observer', {group:'bottom'}) %}
    {% do assets.addJs('https://unpkg.com/scrollama', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/tour.js', {group:'bottom'}) %}

    <script>
        // set important map data
        var tourOptions = {
            center: [{{ header.start.lat ?? 0 }}, {{ header.start.long ?? 0 }}],
            zoom: {{ header.start.zoom ?? 10 }},
            maxZoom: {{ header.zoom_max ?? 16 }},
            minZoom: {{ header.zoom_min ?? 8 }},
            tileServer: "{{ header.tileserver.url ?? pluginConfig.tileserver.url  ?? 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}' }}",
            basemaps: {{ tourData['basemaps']|json_encode|raw }}, // all basemap info
            removeDefaultBasemap: {{ header.remove_default_basemap ? 'true' : 'false' }},
            tourMaps: [ {% for item in header.basemaps %} "{{ item.file }}", {% endfor %}], // list of all tour basemaps
            datasets: {{ tourData['datasets']|json_encode|raw }},
            wideCol: {{ header.wide_column is defined ? (header.wide_column ? 'true' : 'false') : pluginConfig.wide_column is defined ? (pluginConfig.wide_column ? 'true' : 'false') : 'false' }},
            showMapLocationInUrl: {{ header.show_map_location_in_url is defined ? (header.show_map_location_in_url ? 'true' : 'false') : pluginConfig.show_map_location_in_url is defined ? (pluginConfig.show_map_location_in_url ? 'true' : 'false') : 'true' }},
        };
        {% if header.bounds|length == 4 %}
        tourOptions['bounds'] = [[{{ header.bounds.south }}, {{ header.bounds.west }}], [{{ header.bounds.north }}, {{ header.bounds.east}}]];
        {% endif %}
        var tourViews = {{ tourData['views']|json_encode|raw }};
        var geoJson = {{ tourData['features']|json_encode|raw }};
    </script>
    
{% endblock javascripts %}

{% block header %}
<div id="header-wrapper">
    <div class="mobile-row">
        {{ parent() }}
        <button id="header-toggle" aria-expanded="true" class="mobile-only hamburger-btn expanded">
            <i class="fas fa-minus" aria-hidden="true"></i>
            <i class="fas fa-bars" aria-hidden="true"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div id="header-options-wrapper" class="mobile-row">
        <div role="region" aria-label="Map and Content Toggle" id="toggle-list" class="mobile-only">
            <ul class="list-unstyled" role="list">
                <li>
                    {# TODO: aria-current?? #}
                    <button id="scrolly-toggle" class="btn btn-disabled" aria-current="true" aria-disabled="true" data-toggle="scrolly">Content</button>
                </li>
                <li>
                    <button id="map-toggle" class="btn" data-toggle="map">Map</button>
                </li>
                <li>
                    <button id="popups-toggle" class="btn" data-toggle="popups">Popups</button>
                </li>
            </ul>
        </div>
        <!--button id="open-settings-btn" class="icon-btn">
            <i class="fa fas fa-cog" aria-hidden="true"></i>
            <span class="sr-only">Open settings</span>
        </button-->
        {% include 'partials/settings.html.twig' %}
    </div>
</div>
<nav id="main-nav" aria-label="Primary" class="main-nav">
    <div class="nav-menu-btn">
        <button id="toggle-nav-btn" class="nav-item dd-btn dd-caret-btn" aria-expanded="false" data-toggle="main-nav-list">
            <span>Menu</span>
            <i class="fas fa-caret-up" aria-hidden="true"></i>
            <i class="fas fa-caret-down" aria-hidden="true"></i>
        </button>
    </div>
    <ul id="main-nav-list" class="hide" role="list">
        {% import 'partials/nav_macro.html.twig' as nav_macro %}
        {{ nav_macro.loop(pages)}}
    </ul>
</nav>
{# TODO: Settings #}
{% endblock header %}

{% block navigation %}{% endblock navigation %} {# clear navigation block - already included in header #}

{% block main %}
<div id="scrolly">
    <div class="scroll-top">
        <h1>{{ page.title }}</h1>
        <div></div>
        <button id="all-popups-btn" class="btn mobile-only">See All Popup Content</button>
        <div id="scrolly-content">
            {{ content|raw }}
        </div>
    </div>
    <div id="scroll-text">
    {% for view in page.collection() if view.template == 'modular/view' %}
        {% set viewId = leafletTour.getViewId(view) %}
        <div class="step" id="{{ viewId }}">
            <h2>{{ view.header.title }}</h2>
            <button data-view="{{ viewId }}" class="btn show-view-btn">Show View</button>
            {{ view.content|raw }}
            {% set viewPopups = leafletTour.getViewPopups(tourData['views'][viewId]['features'], tourData['popups']) %}
            {% if viewPopups|length > 0 %}
            <ul class="list-unstyled">
                {% for feature in viewPopups %}
                <li><button id="{{ viewId }}_{{ feature.id }}_btn" data-feature="{{ feature.id }}" class="btn view-popup-btn">View {{ feature.name }} popup</button></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% include 'partials/bits/back_to_top.html.twig' %}
</div>
<div id="map-wrapper" role="region" aria-label="Map">
    <a href="#footer" id="skip-map-link" class="skip-link">Skip to Footer</a>
    {# Legend #}
    {% if (header.legend ?? true) %}{% set legendList = tourData['legend'] %}{% endif %}
    {% if legendList %}
    <div class="legend">
        <div class="legend-top">
            <h2>Legend</h2>
            <button id="legend-toggle-btn" aria-expanded="true" class="icon-btn">
                <i class="fas fa-minus" aria-hidden="true"></i>
                <div class="toggle sr-only">Legend</div>
                <i class="fas fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <ul class="list-unstyled" role="list">
        {% for item in legendList %}
            <li>
                {% if header.legend_toggles %}
                <label>
                    <input type="checkbox" class="legend-checkbox" value="{{ item.dataSource }}" checked>
                {% else %}
                <div>
                {% endif %}
                    {# TODO: item.iconAlt #}
                    <img class="legend-icon" src="{{ item.iconFile }}" alt="" style="height: {{ item.iconHeight }}px; width: {{ item.iconWidth }}px;">
                    <span>{{ item.legendText }}</span>
                {% if header.legend_toggles %}</label>
                {% else %}</div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div id="map">
    </div>
</div>
<div id="popup-list-wrapper" class="show-all">
{% for feature in tourData['popups'] %}
    <div class="popup" id="{{ feature.id }}-popup">
        <div class="popup-top">
            <h3 tabindex="-1">{{ feature.name }}</h3>
            <button id="{{ feature.id }}-popup-close-btn" class="popup-btn popup-close-btn icon-btn desktop-only">
                <i class="fas fa-times" aria-hidden="true"></i>
                <span class="sr-only">Close popup</span>
            </button>
        </div>
        <div class="popup-content">
            {{ feature.popup|markdown }}
        </div>
        <button id="{{ feature.id }}-popup-back-btn" class="btn popup-btn popup-back-btn">Back</button>
    </div>
{% endfor %}
</div>
{% endblock main %}

{% block backtotop %}{% endblock backtotop %} {# clear block - already included in main content #}

{% block footer %}
    {% if tourData['attribution'] %}
    <div id="attribution-section" class="footer-section">
        Resources used:
        <ul class="attribution-list list-unstyled" role="list">
            {% for item in tourData['attribution'] %}
                <li>
                {% if item.url %}
                    <a href="{{ item.url }}" target="_blank" class="attribution">{{ item.name }}<span class="sr-only"> Opens in new tab</span></a>
                {% else %}
                    <span class="attribution">{{ item.name }}</span>
                {% endif %}
                {% if not item.isLast %} <i aria-hidden="true" class="fas fa-circle"></i>{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {{ parent() }}
{% endblock footer %}