{% extends 'partials/base.html.twig' %}

{% set plugin_config = config.plugins['leaflet-tour'] %}
{% set tour = leaflet_tour.getTour(header.id) %}

{% set datasets = tour.getLegendDatasets() %}
{% set basemaps = tour.getLegendBasemaps() %}
{% set has_legend = (datasets|length > 0) or (basemaps|length > 0) %}

{% block starting_scripts %}
    {{ parent() }}
    {# Set some important map data #}
    <script>
        let tour_padding = '{{ plugin_config.fly_to_padding ?? header.fly_to_padding }}';
        const tour_options = {{ tour.getTourData()|json_encode|raw }};
        let tour_basemaps = new Map(Object.entries({{ tour.getBasemapData()|json_encode|raw }}));
        let tour_datasets = new Map(Object.entries({{ tour.getDatasetData()|json_encode|raw }}));
        const tour_features = new Map(Object.entries({{ tour.getFeatureData()|json_encode|raw }}));
        let tour_views = new Map(Object.entries({{ tour.getViewData()|json_encode|raw }}));
    </script>
    {% set col_width = tour.getColumnwidth() %}
    {# Putting this here so it can be dynamic #}
    <style>
        @media (min-width: 768px) {
            .tour-wrapper {
                width: {{ col_width }}%;
            }
            #map-wrapper {
                width: {{ 100 - col_width }}%;
            }
        }
    </style>
{% endblock starting_scripts %}

{# Allow theme CSS to overwrite Leaflet CSS, and allow tour-specific CSS to overwrite all other CSS. #}
{% block stylesheets %}
    {% do assets.addCss('plugin://leaflet-tour/assets/leaflet/leaflet.css') %}
    {{ parent() }}
    {% do assets.addCss('plugin://leaflet-tour/assets/tour.css') %}
{% endblock stylesheets %}

{# TODO: Determine if I can provide the leaflet files themselves, or if I will need to access them via CDN #}
{% block javascripts %}
    {{ parent() }}
    {# JS to add after page HTML #}
    {% do assets.addJs('plugin://leaflet-tour/assets/leaflet/leaflet.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/leaflet/leaflet-hash.js', {group:'bottom'}) %}

    {% do assets.addJs('https://unpkg.com/intersection-observer', {group:'bottom'}) %}
    {% do assets.addJs('https://unpkg.com/scrollama', {group:'bottom'}) %}
    {% do assets.addJs('https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0', {group:'bottom'}) %}
    {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.13.0/leaflet-providers.min.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/tour.js', {group:'bottom'}) %}
{% endblock javascripts %}

{% block body %}
<body id="body" class="{{ tour.getBodyClasses() }}">
    <a href="#main" id="main-skip-link" class="skip-link">Skip to Content</a>
    <div id="tour-wrapper" class="tour-wrapper">
        <header id="top">
            <div class="header">{% block header %}{{ parent() }}{% endblock %}</div>
            {# Options button and modal #}
            <button type="button" id="open-settings-btn" class="desktop-only icon-btn" aria-haspopup="true" onClick="openDialog('settings-modal', this)">
                <i class="fas fa-cog" aria-hidden="true"></i>
                <span class="sr-only">Settings</span>
            </button>
        </header>
        {# Navigation will not be shown in mobile map view #}
        {% block navigation %}{{ parent() }}{% endblock %}
        {# Sticky options - only for mobile, changes between content and map views #}
        <nav aria-label="Map" id="map-nav" class="mobile-only">
            {# Toggle button - could change position and formatting, but for now will go with a hamburger style #}
            <button type="button" id="mobile-map-toggle-btn" aria-expanded="false" aria-controls="map-nav-options" class="map-only icon-btn hamburger-btn" data-toggles="map-nav-options">
                <i class="fas fa-minus" aria-hidden="true"></i>
                <i class="fas fa-bars" aria-hidden="true"></i>
                {# TODO: Options or Menu? #}
                <span class="sr-only">Options</span>
            </button>
            <div id="map-nav-options">
                <button type="button" id="map-toggle-btn" class="btn" data-map-active="false">View Map</button>
                {% if has_legend %}<button type="button" id="mobile-legend-btn" aria-haspopup="true" class="map-only btn">Open Legend</button>{% endif %}
                <button type="button" id="map-reset-btn" class="map-only btn reset-view-btn">Reset Map</button>
            </div>
        </nav>

        <main id="main">
            <div class="dialog-backdrop">
                <div role="dialog" id="settings-modal" aria-labelledby="settings-label" aria-modal="true" class="hidden">
                    <div class="dialog-top">
                        <h2 id="setting-label" class="dialog-label">Settings</h2>
                        <button type="button" id="settings-close-btn" class="icon-btn" onClick="closeDialog(this)">
                            <i class="fas fa-times" aria-hidden="true"></i>
                            <span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="dialog-content">
                        {# <div class="option">
                            <label class="toggle-switch">
                                <span class="switch">
                                    <input id="map-animation-toggle" type="checkbox" class="sr-only" aria-checked="true" checked>
                                    <span class="slider" aria-hidden="true"></span>
                                </span>
                                <span class="label">Map automatically changes when scrolling</span>
                            </label>
                        </div> #}
                        <div class="option">
                            <button type="button" id="map-animation-toggle" role="switch" aria-checked="true">
                                <span class="label">Scrolling Changes Map</span>
                                <svg xmlns="http://www.w3.org/2000/svg" height="30" width="52">
                                    <rect class="container" x="1" y="1" height="28" width="50" rx="15" />
                                    <circle class="toggle" cx="15" cy="15" r="11" />
                                </svg>
                                <span class="on" aria-hidden="true">On</span>
                                <span class="off" aria-hidden="true">Off</span>
                            </button>
                        </div>
                        <div class="option">
                            <button type="button" id="reset-view-btn" class="btn reset-view-btn">Reset Map</button>
                        </div>
                    </div>
                </div>
            </div>
            {# Create narrative column #}
            <div id="scrolly" class="column">
                <div id="tour" class="scroll-top step">
                    <h1>{{ page.title }}</h1>
                    {{ content|raw }}
                    {% if tour.getFeaturePopups()|length > 0 %}
                    <div>
                        {# TODO: Clearer indication of what this is/does or something #}
                        <a href="{{ page.url }}/popups">All popup content</a>
                    </div>
                    {% endif %}
                </div>
                <div id="view-content">
                    {% for view in page.collection() if view.template == 'modular/view' and not view.header.visible is same as (false) %}
                        {{ view.content|raw }}
                    {% endfor %}
                </div>
                {% include 'partials/tour-attribution.html.twig' with {'tour':tour} %}
                {% block back_to_top %}{{ parent() }}{% endblock %}
            </div>
            <div id="map-wrapper" role="region" aria-label="Map">
                <a href="#map-end" id="skip-map-link" class="skip-link desktop-only">Skip Map</a>
                {# Zoom Buttons #}
                <div class="zoom-btns">
                    <button type="button" class="icon-btn" id="zoom-out-btn">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                        <span class="sr-only">Zoom Map Out</span>
                    </button>
                    <button type="button" class="icon-btn" id="zoom-in-btn">
                        <i class="fas fa-minus" aria-hidden="true"></i>
                        <span class="sr-only">Zoom Map In</span>
                    </button>
                </div>
                {# Legend #}
                {% if has_legend %}{% include 'partials/legend.html.twig' with {'tour':tour, 'datasets':datasets, 'basemaps':basemaps} %}{% endif %}
                <div id="map"></div>
                <div id="map-end"></div>
                <button data-view="" id="back-to-view-btn" class="skip-link desktop-only">Back to View</button>
            </div>
            {# feature modal popups #}
            {% for feature in tour.getFeaturePopups() %}
                {% include 'partials/modal-popup.html.twig' with {'feature': feature} %}
            {% endfor %}
        </main>

        {% block footer_wrapper %}{{ parent() }}{% endblock %}
    </div>
    {% block bottom %}{{ parent() }}{% endblock %}

</body>
{% endblock body %}