{% extends 'partials/base.html.twig' %}

{% set pluginConfig = config.plugins['leaflet-tour'] %}
{% set tourData = leafletTour.getTour(page) %}

{# Add CSS #}
{% block stylesheets %}
    {% do assets.addCss('plugin://leaflet-tour/assets/qgis2web/leaflet.css') %}
    {{ parent() }}
    {% do assets.addCss('plugin://leaflet-tour/assets/tour.css') %}
{% endblock stylesheets %}

{# Add Javascript #}
{% block javascripts %}
    {{ parent() }}
    {# JS to add after page HTML #}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/js_expressions.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/leaflet.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/leaflet.rotatedMarker.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/leaflet.pattern.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/leaflet-hash.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/Autolinker.min.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/rbush.min.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/labelgun.min.js', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/qgis2web/labels.js', {group:'bottom'}) %}
    {# Question: Download these? #}
    {% do assets.addJs('https://unpkg.com/intersection-observer', {group:'bottom'}) %}
    {% do assets.addJs('https://unpkg.com/scrollama', {group:'bottom'}) %}
    {% do assets.addJs('https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0', {group:'bottom'}) %}
    {% do assets.addJs('plugin://leaflet-tour/assets/tour.js', {group:'bottom'}) %}

    <script>
        // set important map data
        var tourBasemaps = new Map(Object.entries({{ tourData.getBasemaps()|json_encode|raw }}));
        var tourViews = new Map(Object.entries({{ tourData.getViews()|json_encode|raw }}));
        var tourFeaturesJson = {{ tourData.getFeatures()|json_encode|raw }};
        var tourOptions = {{ tourData.getOptions()|json_encode|raw }};
        var tourDatasets = new Map(Object.entries({{ tourData.getDatasets()|json_encode|raw }}));
    </script>
    
{% endblock javascripts %}

{% block header %}
<div id="header-wrapper">
    <div class="mobile-row">
        {{ parent() }}
        <button id="header-toggle-btn" aria-expanded="true" class="mobile-only hamburger-btn expanded">
            <i class="fas fa-minus" aria-hidden="true"></i>
            <i class="fas fa-bars" aria-hidden="true"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div id="header-options-wrapper" class="mobile-row">
        <nav aria-label="Map and Content">
            <button id="content-toggle-btn" class="btn" data-current="scrolly">View Map</button>
        </nav>
        <button id="open-settings-btn" class="icon-btn" onClick="openDialog('settings-dialog', this)">
            <i class="fa fas fa-cog" aria-hidden="true"></i>
            <span class="sr-only">Open settings</span>
        </button>
    </div>
</div>
<nav id="main-nav" aria-label="Primary" class="main-nav">
    <div class="nav-menu-btn">
        <button id="toggle-nav-btn" class="nav-item dd-btn dd-caret-btn" aria-expanded="false" data-toggle="main-nav-list">
            <span>Menu</span>
            <i class="fas fa-caret-up" aria-hidden="true"></i>
            <i class="fas fa-caret-down" aria-hidden="true"></i>
        </button>
    </div>
    <ul id="main-nav-list" class="hide" role="list">
        {% import 'partials/nav_macro.html.twig' as nav_macro %}
        {{ nav_macro.loop(pages)}}
    </ul>
</nav>
{% endblock header %}

{% block navigation %}{% endblock navigation %} {# clear navigation block - already included in header #}

{% block main %}
{% include 'partials/settings.html.twig' %}
<div id="scrolly">
    <div class="scroll-top">
        <h1>{{ page.title }}</h1>
        <!-- TODO: This might still be useful for linking to another page -->
        <!--button id="all-popups-btn" class="btn mobile-only">See All Popup Content</button-->
        <div id="scrolly-content">
            {{ content|raw }}
        </div>
        <a class="btn" href="{{ pages.url }}popups/{{ page.slug }}">View all popup content</a>
    </div>
    <div id="scroll-text">
    {% for view in page.collection() if view.template == 'modular/view' %}
        {% set viewId = tourData.getViewId(view) %}
        <div class="step" id="{{ viewId }}">
            <h2>{{ view.header.title }}</h2>
            <!-- TODO: "Zoom to View" or some other sort of text? -->
            <button data-view="{{ viewId }}" id="show-view-{{ viewId }}" class="btn show-view-btn">Show View</button>
            {{ view.content|raw }}
            {% set viewPopups = tourData.getViewPopups(viewId) %}
            {% if viewPopups|length > 0 %}
            <ul class="list-unstyled">
                {% for feature in viewPopups %}
                <li><button id="{{ viewId }}_{{ feature.id }}_btn" class="btn view-popup-btn" onClick="openDialog('{{ feature.id }}-popup', this)">View {{ feature.name }} popup</button></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% include 'partials/bits/back_to_top.html.twig' %}
</div>
<div id="map-wrapper" role="region" aria-label="Map">
    <a href="#footer" id="skip-map-link" class="skip-link">Skip to Footer</a>
    {# Legend #}
    {% set legendList = tourData.getLegend() %}
    {% if legendList|length > 0 %}
    <div class="legend">
        <div class="legend-top">
            <h2>Legend</h2>
            <button id="legend-toggle-btn" aria-expanded="true" class="icon-btn">
                <i class="fas fa-minus" aria-hidden="true"></i>
                <div class="toggle sr-only">Legend</div>
                <i class="fas fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <ul class="list-unstyled" role="list">
        {% for item in legendList %}
            <li>
                {% if header.legend_toggles %}
                <label>
                    <input type="checkbox" class="legend-checkbox" value="{{ item.dataSource }}" checked>
                    <!-- TODO: How to announce to screen readers when map content changes due to checkbox change -->
                {% else %}
                <div>
                {% endif %}
                    <img class="legend-icon" src="{{ item.iconFile }}" alt="{{ item.iconAltText }}" style="height: {{ item.iconHeight }}px; width: {{ item.iconWidth }}px;">
                    <span>{{ item.legendText }}</span>
                {% if header.legend_toggles %}</label>
                {% else %}</div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div id="map">
    </div>
</div>
{% for feature in tourData.getPopups() %}
<div class="dialog-backdrop">
    <div role="dialog" id="{{ feature.id }}-popup" aria-labelledby="{{ feature.id }}-popup-label" aria-modal="true" class="hidden">
        <div class="dialog-top">
            <h2 id="{{ feature.id }}-popup-label" class="dialog-label">{{ feature.name }}</h2>
            <button id="{{ feature.id }}-close-btn" class="icon-btn" onClick="closeDialog(this)">
                <i class="fas fa-times" aria-hidden="true"></i>
                <span class="sr-only">Close</span>
            </button>
        </div>
        <div class="popup-content">
            {{ feature.popup|markdown }}
            {#% include 'partials/bits/back_to_top.html.twig' %#}
        </div>
    </div>
</div>
{% endfor %}
{% endblock main %}

{% block backtotop %}{% endblock backtotop %} {# clear block - already included in main content #}

{% block footer %}
    {% set attribution = tourData.getAttribution() %}
    {% if attribution|length > 0 %}
    <div id="attribution-section" class="footer-section">
        Resources used:
        <ul class="attribution-list list-unstyled" role="list">
            {% for item in attribution %}
                <li>
                {% if item.url %}
                    <a href="{{ item.url }}" target="_blank" class="attribution">{{ item.name }}<span class="sr-only"> Opens in new tab</span></a>
                {% else %}
                    <span class="attribution">{{ item.name }}</span>
                {% endif %}
                {% if not item.isLast %} <i aria-hidden="true" class="fas fa-circle"></i>{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% set attribution = tourData.getExtraAttribution() %}
    {% if attribution|length > 0 %}
    <div class="footer-section">
        {% for item in attribution %}
            {{ item }}
        {% endfor %}
    </div>
    {% endif %}
    {{ parent() }}
{% endblock footer %}